<div class="page-header">
  <h3>Gamerating #<%= @gamerating.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @gamerating.user.present? %>
          <a href="/users/<%= @gamerating.user_id %>">
            <%= @gamerating.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Value</dt>
      <dd><%= @gamerating.value %></dd>

      <dt>Game</dt>
      <dd>
        <% if @gamerating.game.present? %>
          <a href="/games/<%= @gamerating.game_id %>">
            <%= @gamerating.game.pgn %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/gameratings" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @gamerating.user %>
        <a href="/gameratings/<%= @gamerating.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_gamerating/<%= @gamerating.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
