<div class="page-header">
  <h1>
    Games
    <a href="/games/new" class="btn btn-lg btn-success">New Game</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Pgn</th>
        <th>User</th>
        <th>Eventname</th>
        <th>Eventdate</th>
        <th>White</th>
        <th>Black</th>
        <th>Result</th>
        <th>Actions</th>
      </tr>

      <% @games.each do |game| %>
      <tr>
        <td><%= game.pgn %></td>
        <td><%= game.user_id %></td>
        <td><%= game.eventname %></td>
        <td><%= game.eventdate %></td>
        <td><%= game.white %></td>
        <td><%= game.black %></td>
        <td><%= game.result %></td>
        <td>
          <a href="/games/<%= game.id %>" class="btn btn-primary">Show</a>
          <a href="/games/<%= game.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_game/<%= game.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
